@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./fonts/stylesheet.css');

@layer base {
    html {
      font-family: Estedad;
    }
  }

html {
    direction: rtl;
}

body {
  background-color: #FAF8F0;
  overflow: hidden;
}

.flex-center {
  @apply flex justify-center items-center
}

.noscrollbar::-webkit-scrollbar {
  display: none;
}