@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./assets/fonts/stylesheet.css');

@layer base {
    html {
      font-family: Estedad;
    }
  }

html {
    direction: rtl;
}

body {
  background-color: #FAF8F0;
}

.flex-center {
  @apply flex justify-center items-center
}

.noscrollbar::-webkit-scrollbar {
  display: none;
}

.food-unavailable {
  @apply col-span-1 cursor-pointer bg-[#adb5bd]/80 opacity-50 p-3 rounded-lg grid grid-cols-5 gap-x-2;
}
